[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-espncricinfo = {editable = true, git = "https://github.com/outside-edge/python-espncricinfo.git"}
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
